
@viewport{
    zoom: 1.0;
    width: device-width;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}


aside{
	width: 100%;
}
section{
	width: 100%;		
}

header {
	position: relative;
	float: left;
	width: 100%;
	height: 10%;
}	
h2 {font-size: 1.371em;font-weight:bold;}

