

@media(max-width: 980px) {
  html {
    font-size: 16px;
  }
}
@media(max-width: 1580px) {
  html {
    font-size: 17px;
  }
}
@media(max-width: 720px) {
  html {
    font-size: 14px;
  }
  h1 {font-size: 3.0em;font-weight:bold;}	
  h2 {font-size: 1.271em}
}
@media(max-width: 580px) {
  html {
    font-size: 12px;
  }
}
@media(max-width: 320px) {
  html {
    font-size: 10px;
  }
  
  h1 {font-size: 2.5em;font-weight:bold;}	
  h2 {font-size: 1.271em}
}
@viewport{
    zoom: 1.0;
    width: device-width;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

/* Portrait */
@media screen and (max-width: 320px) {
	aside{
		width: 100%;
	}
	section{
		width: 100%;		
	}	
}
/* Landscape */
@media screen and (min-width: 321px) and (max-width: 480px) {
	aside{
		width: 50%;
	}
	section{
		width: 50%;
	}
}
@media screen and (orientation:landscape) {
	aside{
		width: 50%;
	}
	section{
		width: 50%;
	}
	h2 {font-size: 1.371em;font-weight:bold;}
}

@media screen and (orientation:portrait) {
	aside{
		width: 100%;
	}
	section{
		width: 100%;		
	}
	
	header {
		position: relative;
		float: left;
		width: 100%;
		height: 10%;
	}	
    h2 {font-size: 1.371em;font-weight:bold;}
}
