
*, html { font-family: Verdana, Arial, Helvetica, sans-serif; }
/***** Global *****/
/* Body */
body {
	background-color: #819FF7;
	color: #000305;
	font-size: 62.5%; /* Base font size: 14px */
	font-family: 'Calibri', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
}

header h1{
	display: none;
}



#encabezado{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}

#encabezado h1{
	display: block;
	font-family: titulo,'Calibri', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding-top:1%;
	color: white;
}
/* Headings */
h1 {font-size: 3.9em;font-weight:bold;}	
h2 {font-size: 1.871em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}	/* 14px */
 
h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}


html, body {
    height:99%;
    width:99%;
    position: relative;
    margin: auto;
}

body{
	height: 80%;
	position: relative;
}

header {
	position: relative;
	float: left;
	width: 100%;
	height: 20%;
}

section {
	float: left;
	height: 99%;
}

footer {
	position: relative;
	float: left;
	width: 100%;
	height: 9%;
	border: 1px solid black;
}


form{
	position: relative;
	float: left;
	width: 60%;
}

.textForm{
	display: block;
	float: left;
	font-size: 1.143em;
	margin-left: 10px;
	width: 22%;
	height: 24px;
	margin: 0 10px 0 0;
	padding: 3px 7px;
}

.cajaForm {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 68%;
	border: 1px solid #CCCCCC;
	height: 16px;
	padding: 7px;
}


nav{
	width: 100%;
	text-align: center;
	margin-top: 2%; 
}
nav ul {
	width: 99%;
}
nav ul li{
	float:left;
	display:inline;
}

nav ul li a:hover {
color: grey;
cursor: pointer;
}

#navigation {
margin: auto;
width: 100%;
color: #ffffff;
height: 60px;
text-align: center;
padding-top: 20px;
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;

background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);
}

#navigation li{
	display: inline;	
}

#navigation a {
font-size: 14px;
font-weight: 600;
padding-left: 15px;
padding-right: 15px;
color: white;
text-decoration: none;

}

#navigation a:hover {
color: grey;
cursor: pointer;
}

.texto2 {
	font-family: 'Noto Sans', sans-serif,'Calibri', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
	font-size: 35px;
	line-height: 1.5;
}

.container {
    background: #444;
    margin: 0 auto;
}
.container img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.container img.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

#logo{
	position: relative;
	float: left;
	width: 20%;
	height: 100%;
	border:1px solid;
}

#company_logo{
	position: relative;
	float: left;
	width: 15%;
	height: 100%;
	background-image:url('../images/logo.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.imgBorders {
  padding: 10px 10px 10px;
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}



 