	aside{
		width: 100%;
	}
	section{
		width: 100%;		
	}
	
	header {
		position: relative;
		float: left;
		width: 100%;
		height: 10%;
	}	
    h2 { font-size: 1.371em;
		font-weight:bold;}
